# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional — uncomment if you don’t want to track workspace settings)
#.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
pubspec.lock
coverage/
build/
**/doc/api/

# Android
/android/.gradle/
/android/local.properties
/android/app/build/
/android/build/
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/ServiceDefinitions.json

# Firebase (optional — uncomment if you don’t want to commit these)
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist

# Symbolication & obfuscation
app.*.symbols
app.*.map.json
.env
